doctype html
html
  head
    link(rel='styelsheet', href='https://fonts.googleapis.com/css2?family=Roboto&display=swap', type='text/css')
    link(rel="stylesheet", href="style.css", data-inline)
  body
    div.center
     img(src="cid:logo-sizeid")
    
    hr.hr
    br
    
    p.headline Hello, #{name}
    p.subHeadline To recover your password, click the button below.
    
    div.center 
      a(class='link btn' href=url target="_blank") Recover Password